@import url("./__name/profile__name.css");
@import url("./__info/profile__info.css");
@import url("./__edit-button/profile__edit-button.css");
@import url("./__avatar/profile__avatar.css");
@import url("./__add-button/profile__add-button.css");
@import url("./__self/profile__self.css");
@import url("./__edit/profile__edit.css");
@import url("./__edit-profile/profile__edit-profile.css");


.profile {
    padding-top: 35px;
    max-width: 882px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .profile {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media screen and (min-width: 769px) {
    .profile {
        display: grid;
        grid-template-columns: min-content 1fr 150px;
        text-align: left;
        align-items: center;
        column-gap: 30px;
    }
}